.jumbotron {
  width: 100%;
  min-height: 320px;
  background: url('../dImages/cookJumboLogo.png') center center;
  background-size: cover;
  opacity: 1;
  display: table;
  width: 100%;
  position: relative;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  //-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  //clip-path: url(#poly);
  overflow: hidden;
}
.jumbotron h1 {
  font-size: 50px;
}
.jumbotron h2 {
  font-size: 18px;
  margin: 0;
}
#video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: #000;
  z-index: -1;
  /*background-size: cover;*/
  opacity: 1;
}
#black {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: rgba(0,0,0,0.5);
}
#main-wrapper {
  margin-top: 0;
}
.main-content {
  padding-top: 25px;
}
.main-content .white-box {
  padding: 25px;
  margin: 25px 0;
  background: #fff
}
.main-content ul {
  list-style: initial;
  margin-left: 15px
}
.main-content .final-cta {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; font-weight:700;
  text-transform: uppercase
}
.form-container {
  background: #fff;
  padding: 25px;
  border-radius: 3px;
  margin-top: -100px;
}
.form-container div {
  margin: 20px 0;
}
.form-container input, .form-container select {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 0px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #000;
  letter-spacing: 1px
}
.form-container option {
  margin: 0;
}
.form-container label {
  display: none
}
.form-container h4 {
  margin: 0;
}
.form-container .placeholder {
  color: #000 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; font-weight:300;
}
select option:first-child {
  display: none;
}
::-webkit-input-placeholder {
  color: #000 !important;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:12px;
  font-family:Gibson-Light;
}
.form-container .btn-primary {
  background: #00af66;
  padding: 15px 0;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif; font-weight:700;
  text-transform: uppercase;
  color: white
}

:-moz-placeholder { /* Firefox 18- */
  color: #000 !important;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:12px;
  font-family: 'Open Sans', sans-serif; font-weight:300
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #000 !important;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:12px;
  font-family: 'Open Sans', sans-serif; font-weight:300
}

:-ms-input-placeholder {
  color: #000 !important;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:12px;
  font-family: 'Open Sans', sans-serif; font-weight:300
}
footer {
  color: #999;
  position: absolute;
  background: #000;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .jumbotron {
    min-height: 260px;
    padding: 5px 15px;
  }
  .jumbotron h1 {
    font-size: 30px;
  }
  .jumbotron h2 {
    font-size: 16px;
  }
  .form-container {
    margin-top: 20px;
  }
} /**** END 320 and 480 ****/



/*
  Animation
*/



.text {
  width: 400px;
  margin: 20px 40px;
  position: absolute;
  z-index: 1;
  line-height: 1.35em;
  visibility: hidden;

  h2, h3 { font-weight: 400; }

  h3 {
    margin: 0;
    font-style: italic;
    color: #777;
  }
}

.italic { font-style: italic; }

.man, .hotdog {
  height: 400px;
  position: absolute;
  top: -31px;
  left: 0px;
  z-index: 300;
  transform: scale(0.8);
}

.contour, .contour1, .contour2 {
  visibility: hidden;
}

.grid {
  width: 310px;
  height: 242%;
  font-size: 13px;
}
.textAngularContent img, .textAngularEditor img{
  max-width: 510px;
}


/*
  file up load
*/

.thumb-ng-file{
  width: 124px;
  height: 124px;
  float: none;
  position: relative;
  top: 7px;
  padding-right: 10px;
}


.textAngularContainer{
  padding: 5px;
  outline: none;
}

.textAngularTitle{
  outline: none;
  padding: 5px;
  background-color: #bbbbbb
}

.textAngularContent{
  padding: 20px;
  margin: 10px;
  outline: none;

  .imageContainer{}
}