@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}

.page-wrap {
  display: block;
  margin-left:auto;
  margin-right:auto;
  background-color: rosybrown;

  width: 75%;
  @include breakpoint(large) { width: 60%; }
  @include breakpoint(medium) { width: 80%; }
  @include breakpoint(small) { width: 95%; }
}


.wordContainer{
  background-color: #e5e5e5;
}

.bgWordQuiz{
  background-color: #e5e5e5;
  height: 100%;
  padding: 20px;
}

.containerWidget{
  border-radius:20px;
  max-width: 450px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);

  .bgImageTitle{
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 190px;
    color: white;
    left: 10px;
  }
  img{
    border-radius:20px 20px 0 0 ;
    width:100%;
    height:auto;
  }

  .widgetMenu{
    padding:28px;
    font-size: 25px;
    color: black;
    font-weight: 300;
  }

  .shareIcon{
    position: relative;
    left: calc(50% - (65px)/2);
    top: -32px;
    width: 65px;
    height: 65px;
  }

  .svgIcon_65{
    width: 65px;
    height: 65px;
  }


}

