<div class="slideTopMenu" style="position: relative;         border-top: 7px solid coral; border-bottom: 7px solid coral; ">
    <!--<md-icon style="position: absolute; top: 10px; right: 300px;" md-svg-src="dImages/svg/close.svg"></md-icon>-->
    <div class="pictureIn-andis" layout="row" layout-align="center center">
        <md-content class="firstCol" style="background-color:inherit;" layout="column">
            <div class="form1">
                <div class="md-title"> 견적폰 </div>
                <p> 업체를 알아 보면서 최저가격과 최고의 서비스를 찾는게 힘드셨죠? </p>
                <p> 왜 직접 알아 보시나요? 저희가 찾아 드리겠습니다. </p>
            </div>
            <md-content class="form2Svg" style="background-color:inherit;
                display:none; width:100%; height:100%">
                <md-icon class="svgHouse" style="height:100%; width:100%; z-index:9;"
                         md-svg-src="dImages/delivery/deliver.svg"></md-icon>
            </md-content>
        </md-content>

        <md-content class="secondCol" style="background-color:inherit;" layout="column">
            <div class="form2">
                <div class="md-title"> 이사 견적 </div>
                <p> 업체를 알아 보면서 최저가격과 최고의 서비스를 찾는게 힘드셨죠? </p>
                <p> 실시간 경쟁 입찰 서비스로 빠르게 저렴하게 보다 낳은 업체를 찾아 드립니다. </p>
            </div>
            <md-content style="display:none">
                <md-icon md-svg-src="dImages/svg/comms.svg"></md-icon>
            </md-content>
        </md-content>

        <md-content class="thirdCol" style="background-color:inherit; display:none" layout="column">
            <div class="form3">
                <div class="md-title"> 컴퓨터 견적 </div>
                <p> 업체를 알아 보면서 최저가격과 최고의 서비스를 찾는게 힘드셨죠? </p>
                <p> 실시간 경쟁 입찰 서비스로 빠르게 저렴하게 보다 낳은 업체를 찾아 드립니다. </p>
            </div>
            <md-content style="display:none">
                <md-icon md-svg-src="dImages/svg/comms.svg"></md-icon>
            </md-content>
        </md-content>

        <md-content class="fourthCol" style="background-color:inherit; display:none" layout="column">
            <div class="form4">
                <div class="md-title"> 컴퓨터 견적 </div>
                <p> 업체를 알아 보면서 최저가격과 최고의 서비스를 찾는게 힘드셨죠? </p>
                <p> 실시간 경쟁 입찰 서비스로 빠르게 저렴하게 보다 낳은 업체를 찾아 드립니다. </p>
            </div>
            <md-content style="display:none">
                <md-icon md-svg-src="dImages/svg/comms.svg"></md-icon>
            </md-content>
        </md-content>

        <!--<svg ng-click="sizeChange()" style="outline:none" id="carrot" width="222px" height="154px" viewBox="0 0 222 154" version="1.1">-->
            <!--<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
                <!--<g id="Artboard-2">-->
                    <!--<circle id="start" stroke="#979797" fill="#D8D8D8" cx="111.5" cy="77.5" r="28.5"></circle>-->
                    <!--<g id="end" transform="translate(85.000000, 10.000000)">-->
                        <!--<path d="M0.486238532,34.6058294 C-0.294805267,58.4706033 26.6285511,116.5125 26.6285511,116.5125 L26.6285511,34.6058294 C26.6285511,34.6058294 0.486238532,34.6058294 0.486238532,34.6058294 Z" id="Triangle-1" fill="#FF9217"></path>-->
                        <!--<path d="M52.7708637,34.6058294 C52.7708637,57.0241588 26.6285511,116.5125 26.6285511,116.5125 L26.6285511,34.6058294 C26.6285511,34.6058294 52.7708637,34.6058294 52.7708637,34.6058294 Z" id="Triangle-1-Copy" fill="#FF4E25"></path>-->
                        <!--<path d="M19.648631,0.0743682773 C23.5158797,0.0743682773 26.6509042,3.21498226 26.6509042,7.08336406 L26.6509042,10.2975734 C26.6509042,14.1685349 24.42762,15.0890381 21.700036,12.368512 L14.3248653,5.01242544 C11.5905763,2.28521178 12.5027146,0.0743682773 16.3762703,0.0743682773 L19.648631,0.0743682773 Z" id="Rectangle-1" fill="#008000"></path>-->
                        <!--<path d="M26.6285511,25.9420679 C26.6285511,21.1851589 30.4957933,17.3289223 35.2446516,17.3289223 L35.2446516,17.3289223 C40.0031924,17.3289223 41.1302585,20.0664996 37.7731998,23.4322677 L32.7161033,28.502484 C29.354041,31.8732686 26.6285511,30.7500582 26.6285511,25.9926838 L26.6285511,25.9420679 Z" id="Rectangle-1-Copy" fill="#008000"></path>-->
                    <!--</g>-->
                <!--</g>-->
            <!--</g>-->
        <!--</svg>-->

        <!--<svg ng-click="sizeChange()" style="padding:45px; outline:none" width="950px" height="445px" viewBox="0 0 950 445" version="1.1">-->
            <!--<g id="logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
                <!--<g id="ilbe">-->
                    <!--<path id="end1" d="M0,222 C0,99.3927855 95.8110635,0 214,0 C332.188936,0 428,99.3927855 428,222 C428,344.607214 332.188936,444 214,444 C95.8110635,444 0,344.607214 0,222 Z M69,222.5 C69,142.142569 134.142569,77 214.5,77 C294.857431,77 360,142.142569 360,222.5 C360,302.857431 294.857431,368 214.5,368 C134.142569,368 69,302.857431 69,222.5 Z" fill="#CC0000"></path>-->
                    <!--<path id="end2" d="M512,0 L512,444 L950,444 L950,0 L880.411215,0 L880.411215,161 L582.61215,161 L582.61215,0 L512,0 Z M581,222 L872,222 L872,368 L581,368 L581,222 Z" fill="#333333"></path>-->
                    <!--<rect id="start1" fill="#333333" x="512" y="0" width="428" height="444"></rect>-->
                    <!--<ellipse id="start2" fill="#CC0000" cx="214.5" cy="222.5" rx="213.5" ry="222.5"></ellipse>-->
                <!--</g>-->
            <!--</g>-->
        <!--</svg>-->
    </div>
    <div class="leftMenuMain" style="
    background-color: rgba(90, 75, 75, 0.21);
        position: absolute;
        width: 180px;
        height: 100%;
        top: 0;
            overflow: scroll;
        left: -100%;">
        <div layout="column" style="color:#757575;" layout-margin>
            <div></div>
            <md-button class="md-raised" href="#/cook/recipes">레시피</md-button>
            <md-button class="md-raised" href="#/computer">컴퓨터 견적</md-button>
            <md-button class="md-raised">맛집</md-button>
            <md-button class="md-raised">레시피</md-button>
            <md-button class="md-raised">요리도구</md-button>
            <md-button class="md-raised">맛집</md-button>
            <md-button class="md-raised">레시피</md-button>
            <md-button class="md-raised">요리도구</md-button>
            <md-button class="md-raised">맛집</md-button>
            <md-button class="md-raised">레시피</md-button>
            <md-button class="md-raised">요리도구</md-button>
            <md-button class="md-raised">맛집</md-button>
        </div>
    </div>
    <div class="rightMenuMain" style="
        background-color: rgba(90, 75, 75, 0.21);
        position: absolute;
        width: 180px;
        height: 100%;
        top: 0;
            overflow: scroll;
        right: -100%;">
        <div layout="column" style="color:#757575;" layout-margin>
            <md-button class="md-raised">My Page</md-button>
            <md-button class="md-raised">쪽지</md-button>
        </div>
    </div>
</div>