<style>
    .gridListdemoBasicUsage md-grid-list {
        margin: 8px; }
    .gridListdemoBasicUsage .gray {
        background: #f5f5f5; }
    .gridListdemoBasicUsage .green {
        background: #b9f6ca; }
    .gridListdemoBasicUsage .yellow {
        background: #ffff8d; }
    .gridListdemoBasicUsage .blue {
        background: #84ffff; }
    .gridListdemoBasicUsage .purple {
        background: #b388ff; }
    .gridListdemoBasicUsage .red {
        background: #ff8a80; }
    .gridListdemoBasicUsage .greenDay {
        background: #ffbb40; }
    .gridListdemoBasicUsage md-grid-tile {
        transition: all 400ms ease-out 50ms; }
    .gridListdemoBasicUsage md-list-item p{
        font-weight: bold;
    }
    .hiderow {
        display:none;
    }
</style>
<div ng-hide="!isOpenRight()" hide-xs style="position: fixed; color:white; left: 20px; top: 40px; z-index: 99;">
    <h1 class="md-title"> {{instTarget}}를 선택하여 주세요 </h1>
    <p class="md-body"> 필수 아이템 입니다. </p>
</div>

<md-content style="height:100%; width:100%; position: absolute; background-color: #575B5D;">
    <div layout="column" style="height: 100%; position: absolute; width: 100%;" ng-cloak>
        <section layout="row" flex>
            <md-content flex style="background-color: inherit">
                <div layout="row" layout-align="center stretch" style="height:100%; position: absolute; width: 100%;">
                    <div hide-xs hide-sm flex="30" style="background-color:#ffffff">
                        <!--<md-list ng-cloak style="padding-top:0px;">-->
                            <!--<md-subheader style="background-color:rgba(255, 255, 255, 0.29);" class="md-no-sticky md-body-2">-->
                                <!--부품파트-->
                            <!--</md-subheader>-->
                            <!--<md-list-item ng-click="toggleRight('CPU')">-->
                                <!--<p> CPU </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.cpu" ></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-list-item ng-click="toggleRight('그래픽카드')">-->
                                <!--<p> 그래픽카드 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.graphic"></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-list-item ng-click="toggleRight('메인보드')">-->
                                <!--<p> 메인보드 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.mainboard"></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-list-item ng-click="toggleRight('메모리')">-->
                                <!--<p> 메모리 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.memory"></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-list-item ng-click="toggleRight('ODD')">-->
                                <!--<p> ODD </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.odd"></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-list-item ng-click="toggleRight('SDD')">-->
                                <!--<p> SDD </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.sdd"></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-subheader style="background-color:rgba(255, 255, 255, 0.29);" class="md-no-sticky">-->
                                <!--서비스-->
                            <!--</md-subheader>-->
                            <!--<md-list-item ng-click="toggleRight('조립')">-->
                                <!--<p> 조립 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.buildService"></md-checkbox>-->
                            <!--</md-list-item>-->
                            <!--<md-list-item ng-click="toggleRight('OS 설치')">-->
                                <!--<p> OS 설치 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.swService"></md-checkbox>-->
                            <!--</md-list-item>-->

                            <!--<md-subheader style="background-color:rgba(255, 255, 255, 0.29);" class="md-no-sticky">-->
                                <!--소프트웨어-->
                            <!--</md-subheader>-->
                            <!--<md-list-item ng-click="toggleRight('WINDOWS 10')">-->
                                <!--<p> WINDOWS 10 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.sw"></md-checkbox>-->
                            <!--</md-list-item>-->
                            <!--<md-list-item ng-click="toggleRight('WINDOWS 8.1')">-->
                                <!--<p> WINDOWS 8.1 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.sw"></md-checkbox>-->
                            <!--</md-list-item>-->
                            <!--<md-list-item ng-click="toggleRight('WINDOWS 8')">-->
                                <!--<p> WINDOWS 8 </p>-->
                                <!--<md-checkbox hide-xs class="md-secondary" ng-model="quote.sw"></md-checkbox>-->
                            <!--</md-list-item>-->
                        <!--</md-list>-->
                    </div>

                    <div class="gridListdemoBasicUsage" flex="70" flex-xs="100" flex-sm="100" style="background-color: #575B5D; overflow:auto">
                        <md-grid-list
                                md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                                md-row-height-gt-md="1:1" md-row-height="2:2"
                                md-gutter="12px" md-gutter-gt-sm="8px" >
                            <md-grid-tile class="gray"
                                          md-rowspan="1" md-colspan="2" md-colspan-sm="1"
                                    ng-click="toggleRight('cpu')">
                                <md-content layout="column" style="background-color:inherit">
                                    <div style="width: 100%; padding: 7px;" ng-if="crntBuild.cpu !== undefined">
                                        <div> {{crntBuild.cpu.name}} </div>
                                        <div style="font-weight: bold"> {{crntBuild.cpu.price}}원 </div>
                                        <div layout="row">
                                            <md-button> 상세 정보</md-button>
                                        </div>
                                    </div>
                                    <p ng-if="crntBuild.cpu === undefined"> CPU를 선택해 주세요 </p>
                                </md-content>

                                <md-grid-tile-footer>
                                    <h3>CPU</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                            <md-grid-tile class="green"
                                          md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1"
                                          ng-click="toggleRight('graphics')">
                                <md-content layout="column" style="background-color:inherit">
                                    <div style="width: 100%; padding: 7px;" ng-if="crntBuild.graphic !== undefined">
                                        <div> {{crntBuild.graphic.name}} </div>
                                        <div style="font-weight: bold"> {{crntBuild.graphic.price}}원 </div>
                                        <div layout="row">
                                            <md-button> 상세 정보 </md-button>
                                            <md-button> 추가 하기 </md-button>
                                        </div>
                                    </div>
                                    <p ng-if="crntBuild.graphic === undefined"> 그래픽 카드를 선택해 주세요 </p>
                                </md-content>

                                <md-grid-tile-footer>
                                    <h3>그래픽카드</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                            <md-grid-tile class="yellow" md-colspan-xs="1"
                                          ng-click="toggleRight('memory')">
                                <md-content layout="column" style="background-color:inherit">
                                    <div style="width: 100%; padding: 7px;" ng-if="crntBuild.memory !== undefined">
                                        <div> {{crntBuild.memory.name}} </div>
                                        <div style="font-weight: bold"> {{crntBuild.memory.price}}원 </div>
                                        <div layout="row">
                                            <md-button> 상세 정보</md-button>
                                            <md-button> 추가 하기</md-button>
                                        </div>
                                    </div>
                                    <p ng-if="crntBuild.memory === undefined"> 메모리를 선택해 주세요 </p>
                                </md-content>

                                <md-grid-tile-footer>
                                    <h3>메모리</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                            <md-grid-tile class="blue" md-colspan-xs="1"
                                          md-rowspan="1" ng-click="toggleRight('mainboard')">
                                <md-content layout="column" style="background-color:inherit">
                                    <div style="width: 100%; padding: 7px;" ng-if="crntBuild.mainboard !== undefined">
                                        <div> {{crntBuild.mainboard.name}} </div>
                                        <div style="font-weight: bold"> {{crntBuild.mainboard.price}}원 </div>
                                        <div layout="row">
                                            <md-button> 상세 정보 </md-button>
                                        </div>
                                    </div>
                                    <p ng-if="crntBuild.mainboard === undefined"> 메인보드를 선택해 주세요 </p>
                                </md-content>

                                <md-grid-tile-footer>
                                    <h3>HDD</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                            <md-grid-tile class="red"
                                          md-rowspan="1" md-colspan-sm="1" md-colspan-xs="1"
                                          ng-click="toggleRight('ssd')">
                                <md-content layout="column" style="background-color:inherit">
                                    <div style="width: 100%; padding: 7px;" ng-if="crntBuild.ssd !== undefined">
                                        <div> {{crntBuild.ssd.name}} </div>
                                        <div style="font-weight: bold"> {{crntBuild.ssd.price}}원 </div>
                                        <div layout="row">
                                            <md-button> 상세정보 </md-button>
                                            <md-button> 추가하기 </md-button>
                                        </div>
                                    </div>
                                    <p ng-if="crntBuild.ssd === undefined"> SSD를 선택해 주세요 </p>
                                </md-content>
                                <md-grid-tile-footer>
                                    <h3>SDD</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                            <md-grid-tile class="purple"
                                          md-rowspan="1" md-colspan-sm="1" md-colspan-xs="1"
                                          ng-click="toggleRight('hdd')">
                                <md-content layout="column" style="background-color:inherit">
                                    <div style="width: 100%; padding: 7px;" ng-if="crntBuild.hdd !== undefined">
                                        <div> {{crntBuild.hdd.name}} </div>
                                        <div style="font-weight: bold"> {{crntBuild.hdd.price}}원 </div>
                                        <div layout="row">
                                            <md-button> 상세 정보 </md-button>
                                            <md-button> 추가하기 </md-button>
                                        </div>
                                    </div>
                                    <p ng-if="crntBuild.hdd === undefined"> HDD를 선택해 주세요 </p>
                                </md-content>
                                <md-grid-tile-footer>
                                    <h3>HDD</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                            <!--<md-grid-tile class="purple"-->
                                          <!--md-rowspan="1"-->
                                          <!--ng-click="toggleRight('case')">-->
                                <!--<p ng-if="crntBuild.case !== undefined"> {{crntBuild.case.name}} </p>-->
                                <!--<p ng-if="crntBuild.case === undefined"> 케이스를 선택해 주세요 </p>-->
                                <!--<md-grid-tile-footer>-->
                                    <!--<h3>케이스</h3>-->
                                <!--</md-grid-tile-footer>-->
                            <!--</md-grid-tile>-->
                            <md-grid-tile class="greenDay" md-colspan-xs="1"
                                          md-colspan-gt-md="6" md-colspan="4" md-colspan-sm="1">
                                <p ng-if="crntBuild.total !== undefined"> {{crntBuild.cpu.name}} </p>
                                <p ng-if="crntBuild.total === undefined"> 0원 </p>
                                <md-grid-tile-footer>
                                    <h3>총액</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-content>
                    <md-list ng-cloak style="padding-top:0px;">
                        <md-subheader style="background-color:rgba(255, 255, 255, 0.29);" class="md-no-sticky md-body-2">
                            부품파트
                        </md-subheader>
                        <md-list-item ng-class='{hiderow:$first}'
                                      ng-click="selectPart(prd, parts.type)"
                                      class="md-3-line" ng-repeat="prd in parts | orderBy:'price'">
                            <div class="md-list-item-text" layout="column">
                                <span style="text-algin:center">{{prd.name}}</span>
                                <span style="text-algin:center">
                                    <md-icon style="    height: auto; width: 60px;" md-svg-src="{{prd | logoSvgUrl: parts.type}}">
                                    </md-icon>
                                    {{prd.price * 0.15 + prd.price}}원</span>
                                <span>

                                </span>
                                <hr>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
        </section>
    </div>
</md-content>