<!--<style>-->

    <!--.md-dialog-container {-->
        <!--display: flex; justify-content: center;-->
        <!--position: absolute; align-items: center;-->
        <!--left: 0; top: 0;-->
        <!--width: 100%; height: 100%;-->
        <!--z-index: 90;-->
    <!--}-->

    <!--.ta-editor{-->
        <!--height: 300px;-->
    <!--}-->

<!--</style>-->

<md-content ng-cloak>
<div layout="row">
    <div flex>
        <div class="jumbotron">
            <div id="black"></div>
            <div style="" class="animated fadeInDown">
                <div class="container">
                    <div class="col-md-12">
                        <h1> 웹 레시피 <br class="visible-lg "/></h1>
                        <hr style="width:25%;text-align:left;margin:30px 0; border:2.5px solid #fff;"/>
                    </div>
                    <div class="col-md-8">
                        <h2 style="text-align:left" class="subtitle">레시피 리뷰, 사용법</h2>
                        <div layout="row">
                            <div>
                                레시피를 서로 공유합니다.
                                <div ng-show="authData">
                                    {{ profile.name }} | <a href="#" ng-click="authObj.$unauth()">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<md-toolbar class="md-warn" style="  top: -1px;">
    <div layout layout-sm="column" class="md-toolbar-tools">
        <h2 class="md-flex"> 웹 레시피 </h2>
        <span flex></span>
        <div layout="row">
        <md-button class="md-raised md-icon-button" style="color:black" ng-click="adjustImage(true)"> + </md-button>
        <md-button class="md-raised md-icon-button" style="color:black" ng-click="adjustImage(false)"> - </md-button>
        <md-button class="md-raised" style="color:black" ng-click="showAdvanced($event)">
            웹 레세피 적기
        </md-button>
        </div>
    </div>
</md-toolbar>

<!--<recipe-add></recipe-add>-->
<md-content layout="row" >

    <md-content show-gt-lg flex="0" flex-gt-lg="20" style="background-color: #e1e1e1">
        <div class="md-title">Extra Info</div>
    </md-content>

    <section flex flex-gt-lg="80">

        <div ng-hide="true">
            <md-button class="md-raised" ng-click="query()">query</md-button>
            <md-button class="md-raised" ng-click="go()">go</md-button>
            <md-button class="md-raised" ng-click="commentPush()">Push Comment</md-button>
        </div>

        <hr/>
        <md-content class="container" layout="column" layout-align="center center" ng-controller="LoginCtrl" ng-hide-auth="" style="height:480px;">
            <h1 class="md-title">로그인이 필요 합니다. </h1>
            <fieldset>
                <legend>Oauth</legend>
                <p>
                    <!--<button  class="btn btn-primary" ng-click="anonymousLogin()">Anonymous</button>-->
                    <button  class="btn btn-primary" ng-click="oauthLogin('facebook')">Facebook</button>
                    <button  class="btn btn-primary" ng-click="oauthLogin('google')">Google</button>
                </p>
            </fieldset>

            <form role="form">
                <p class="form-group">
                    <label for="loginEmail">email</label>
                    <input id="loginEmail" required name="email" type="email" ng-model="email" class="form-control" />
                </p>
                <p class="form-group">
                    <label for="loginPass">password</label>
                    <input id="loginPass" required name="pass" type="password" ng-model="pass" class="form-control" />
                </p>
                <p class="form-group" ng-cloak ng-show="createMode">
                    <label for="loginConfirm">confirm pass</label>
                    <input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" class="form-control" />
                </p>

                <p>
                    <button  class="btn btn-primary" ng-click="passwordLogin(email, pass)" ng-hide="createMode">Log In</button>
                    <button  class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
                    <button  class="btn btn-primary" ng-cloak ng-show="createMode"
                             ng-click="createAccount(email, pass, confirm)">Create Account</button>
                    <button  class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
                </p>
            </form>
            <p ng-show="err" class="bg-danger">{{err}}</p>

        </md-content>


        <md-list>
            <md-subheader class="md-no-sticky"> 추천글 </md-subheader>
            <!--<md-list-item class="md-3-line md-long-text" ng-repeat="rec in recipes" ng-click="goTO(rec.$id)">-->
            <md-list-item class="md-2-line" ng-repeat="rec in recipes" ng-click="goTO(rec.$id)">
                <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}" />
                <div class="md-list-item-text">
                    <h3>{{rec.title}}</h3>
                    <div layout="row" class="md-caption"><span style="margin-right:10px">방문수: {{rec.visitNum}}</span><span style="margin-right:10px">좋아요: 0</span><span>10월 19일</span></div>

                    <!--<p ta-bind ng-model="rec.text">-->
                        <!--&lt;!&ndash;{{rec.text}}&ndash;&gt;-->
                    <!--</p>-->

                </div>
                <div layout="row">
                    <span flex></span>
                    <!--<md-button ng-show="!expandTitle" class="md-raised" ng-click="isReplyFormOpen = !isReplyFormOpen; expandTitle =! expandTitle">Open</md-button>-->
                    <!--<md-button ng-show="expandTitle" class="md-raised" ng-click="isReplyFormOpen = !isReplyFormOpen; expandTitle =! expandTitle">Close</md-button>-->
                    <md-button ng-show="checkAutho(rec)" class="md-raised md-primary" ng-click="update(rec, $index)">Edit</md-button>
                    <md-button ng-show="checkAutho(rec)" class="md-raised md-warn" ng-click="update(rec, $index)">Delete</md-button>
                    <!--<md-button class="md-raised" >Open</md-button>-->
                    <!--<md-button class="md-raised" ng-click="delete($index)">Delete</md-button>-->
                </div>
                <!--<span flex></span>-->
            </md-list-item>
        </md-list>
    </section>

</md-content>

</md-content>

